.nav__tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.nav__tabs button {
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 13px 23px;
    z-index: 1;
    cursor: pointer;
    background: transparent;

}
.nav__tabs .indicator{
    position: absolute;
    z-index: 0;
    border-radius: 10px;
    transition: .4s;
    cursor: pointer;
    background: var(--colour-primary);



}